@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Comfortaa;
  margin: 0;
  scroll-behavior: smooth;
  /* background-color: #142d47c5; */
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
